.register_page {
  min-height: 80vh;
  background-color: var(--black);
  font-family: var(--secfont);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register_section {
  background-color: var(--white-1);
  color: var(--white);
  min-height: 80vh;
  width: 50%;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}

.previewForm{
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: space-between;
}

/* write media query for max-width medium screen */
@media (max-width: 768px) {
  .register_section {
    width: 95%;
  }
  .link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 0 !important;
  }
}

.previewContainer {
  font-family: var(--secfont);
  color: var(--white);
  margin-bottom: 20px;
}

.previewItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.previewLabel {
  flex: 1;
  font-weight: bold;
  color: var(--black);
}

.previewValue {
  flex: 2;
  margin-left: 20px;
}

.label {
  color: var(--black) !important;
}

.input-field {
  border-radius: 5px;
  border: 1px solid var(--black);
  padding: 5px;
  width: 100%;
}

.mt-3 {
  margin-top: 1rem;
}

.ms-1 {
  margin-start: 0.25rem;
}

.badge {
  cursor: pointer;
}

.button {
  background-color: var(--black) !important;
  color: white !important;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-primary {
  background-color: var(--grass-green) !important;
  color: white !important;
}

.button-warning {
  background-color: orange !important;
  color: black !important;
}

.button-disabled {
  cursor: not-allowed;
}

.form-select {
  width: 100%;
}

.span {
  display: flex;
  padding: 0.25rem;
  font-size: 0.875rem;
}

.fs-7 {
  font-size: 0.875rem;
}

.link {
  color: var(--black);
}

.previewForm {
  font-family: var(--secfont);
  color: var(--white);
  margin-bottom: 20px;
}

.align-content-center {
  align-content: center;
}

.justify-content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}
