.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--grey);
  min-height: 100vh;
  min-width: 70vw;
}

.form-container h1 {
  padding: 3rem;
  text-align: center;
  color: var(--red) !important;
  font-family: var(--secfont);
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-box {
  background-color: var(--white-1);
  padding: 1rem;
  min-width: 70vw;
  margin: 5rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.question {
  color: var(--forest-teal) !important;
  margin-bottom: 0.6rem;
  margin-top: 1rem;
}

.form-group label {
  color: var(--grey);
}

.form-control {
  background-color: var(--white-1);
  border: 1px solid var(--cyan);
  border-radius: 5px;
  padding: 10px;
  width: 70%;
  margin-bottom: 20px;
}

.form-control::placeholder {
  color: #6d6e7089 !important; /* Adjust placeholder color as needed */
}

.radio-group {
  display: flex;
  margin-bottom: 20px;
}

.radio-group input[type="radio"] {
  margin: 0.3rem;
  margin-left: 1rem;
}

.textarea-control {
  height: 150px;
}

.submit-button {
  background-color: var(--cyan);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: var(--dark-cyan);
}

@media (max-width: 768px) {
  .submitButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
